<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>YoutubeController</display-name>
    <servlet-name>YoutubeController</servlet-name>
    <servlet-class>controller.YoutubeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeController</servlet-name>
    <url-pattern>/YoutubeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotifyAuthController</display-name>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotifyOAuth2Callback</display-name>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RawgController</display-name>
    <servlet-name>RawgController</servlet-name>
    <servlet-class>controller.RawgController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RawgController</servlet-name>
    <url-pattern>/RawgController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GmapsController</display-name>
    <servlet-name>GmapsController</servlet-name>
    <servlet-class>controller.GmapsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GmapsController</servlet-name>
    <url-pattern>/GmapsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YouTubeAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>YouTube</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YouTubeAuthController</servlet-name>
    <url-pattern>/AuthController/YouTube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YouTubeOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>YouTube</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YouTubeOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/YouTube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>spotifyGetSongController</display-name>
    <servlet-name>spotifyGetSongController</servlet-name>
    <servlet-class>controller.spotifyGetSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spotifyGetSongController</servlet-name>
    <url-pattern>/spotifyGetSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
   <!-- All REST resources will be prefixed by /api  -->
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <!-- Servlets -->
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>aiss.api.TestarApplication</param-value>
        </init-param>
    </servlet>        
    
    <!-- Servlet mappings -->
    <!-- All calls to /api/xxx will be sent to the resteasy servlet -->
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>